<h1>About#index</h1>
<p>Find me in app/views/about/index.html.erb</p>
<div class="about-content">
  <h1>About Us</h1>
  <p>Welcome to our store! We are passionate about providing the best products to our customers...</p>
  <p>Our mission is to...</p>
  <!-- Add more content here -->
</div>
